<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Contact.css') }}"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

    <header>
      <a href="{{ url_for('reg') }}" id="skip_nav">create account </a>
      <!--meme nav bar -->
      <nav class="horizontal">
        <a href="{{url_for('hello_world') }}"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" /></a>
        <div class="nav_links_horizontal">
          <ul>
            <li><a href="{{ url_for('hello_world') }}">Main page</a></li>
            <li><a href="{{ url_for('reverse') }}">Exctracting page</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('logout_page')}}"> Logout</a> </li>
                <li><a href="#" style="color: lightcoral"> User: {{ current_user.name }}</a> </li>
            {% else %}
                <li><a href="{{ url_for('log') }}">Login page</a></li>
                <li><a href="{{ url_for('reg') }}">Create Account</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <div class="container" style="text-align: left">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <h4>About us</h4>
      <p>Etudiants universitaires USTHB acad B</p>
      <div class="icon">
        <a href="https://www.facebook.com/Chrf.Mounir/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://github.com/lolifmaster" target="_blank">
          <i class="fa-brands fa-github"></i
        ></a>
        <a href="https://www.instagram.com/chrf_mounir/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/mounir-charef-3397b1229/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </div>
      <p>made by Charef mounir ©</p>
    </footer>

  </body>
</html>
