{% extends 'base.html' %}
{% block title %}Extracting Page {% endblock %}
{% block content %}
    <h1 style="text-align: center"> EXTRACTING PAGE</h1>
<br>
<br>
<div>
<form method="post" style="color: snow" name="file1" enctype="multipart/form-data">
{{ form.hidden_tag() }}
{{ form.file.label() }}
{{ form.file(accept="image/png") }}
{{ form.hashkey.label() }}
{{ form.hashkey(placeholder='Enter the key') }}
<br>
<br>
{{ form.Method.label(style='color: #db253d') }}
{{ form.Method() }}
<br>
<br>

{{ form.submit(style='cursor: pointer;') }}

</form>
<br>
<br>

</div>
<div style="margin-bottom: 1em">
    {% if doctor  %}
        <div>
            <p style="color: black; background-color: greenyellow; width: fit-content; margin: 1em; padding: 1em" > This image is safe and was given by {{ doctor }} from {{ hospital }}<br> <a href = "mailto:{{ email }}">Contact Doctor</a></p>
            <a href="{{ url_for('static',filename='files/'+filename) }}" target="_blank">
            <img alt="Original Image" src="{{ url_for('static',filename='files/'+filename) }}" height="256" width="256">
            </a>
            <a style="color: cyan;margin-left: 40px;text-decoration: none" href="{{ url_for('static',filename='files/'+filename) }}" download={{ filename }}>
                 Download img
            </a>
        </div>
    {% else %}
        {% if filename %}
        <div>
            <p style="background-color: orangered; width: fit-content; margin: 1em; padding: 1em"> this image was attacked .. its dangerous to use<br> Or you maybe give us the wrong key.</p>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}