<!DOCTYPE html>
<html lang="en">
  <head>
    <!--On utilise un codage en UTF-8-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--scale automatique pour l'ecran-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--On utilise une font importé de googlefont-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

      <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.png') }}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <!--le lien avec le code CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styleIndex.css') }}" />
    <!--on utilise Font-awesome pour les icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <!--Titre de la page -->
    <title>L'intelligence artificielle une Vue d'ensemble</title>
  </head>

  <body>
    <!--Page 1 : Definition -->

    <!--On crée un header qui va contenir La barre de navigation +  texte  d'accueil -->
    <header>
      <!--barre de navigation = icone du site + liens de navigations-->
      <nav>
        <a href="/"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" /></a>

        <div class="nav_links">
          <ul>
            <li><a href="{{ url_for('hello_world') }}">Accueil</a></li>
            <li><a href="{{ url_for('mainpage') }}">Description</a></li>
            <li><a href="{{ url_for('types') }}">Types</a></li>
            <li><a href="{{ url_for('log') }}">Recherches</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
          </ul>
        </div>
      </nav>

      <!--texte d'accueil + mini description-->
      <div class="text_box">
        <h1>L'intelligence Artificielle</h1>
        <p>
          L’intelligence artificielle ou IA s'applique à tous les secteurs
          d’activité : transports, santé, énergie, industrie, logistique,
          finance ou encore commerce.
          <br />
          Cloud, véhicule autonome, compteurs intelligents... utilisent tous des
          algorithmes performants pour fournir des réponses efficaces, fiables
          et personnalisées aux utilisateurs.
          <br />
          Associant matériels et logiciels, l’intelligence artificielle mobilise
          des connaissances multidisciplinaires électronique (collecte de
          données, réseaux de neurones),
          <br />
          informatique (traitement de données, apprentissage profond),
          mathématiques (modèles d'analyse des données)
          <br />
          sciences humaines et sociales pour analyser l'impact sociétal induit
          par ces nouveaux usages.
          <br />
          L’essentiel sur les enjeux industriels et sociétaux majeurs de
          l’intelligence artificielle.
        </p>
      </div>
    </header>

    <!--Introduction -->
    <!-- section introduction qui contient le titre + texte d'introduction + boutton en savoir plus qui va directment
         vers la page description-->

    <section class="wrap_Introduction">
      <br />
      <section class="Introduction">
        <h1>Qu'est ce que L'intelligence Artificielle</h1>

        <div class="Introduction_text">
          <p>
            Lorsque la plupart des gens entendent le terme intelligence
            artificielle, la première chose à laquelle ils pensent généralement,
            ce sont les robots. C'est parce que les films et les romans à gros
            budget tissent des histoires sur des machines ressemblant à des
            humains qui font des ravages sur Terre. Mais rien ne pouvait être
            plus éloigné de la vérité. <br />

            L'intelligence artificielle (IA) fait référence à la simulation de
            l'intelligence humaine dans des machines programmées pour penser
            comme des humains et imiter leurs actions de manière à ce que la
            machine puisse facilement l'imiter et exécuter des tâches, des plus
            simples aux plus complexes.
            <br />
            Le terme peut également s'appliquer à toute machine qui présente des
            traits associés à un esprit humain tels que l'apprentissage et la
            résolution de problèmes.
            <br />
            La caractéristique idéale de l'intelligence artificielle est sa
            capacité à rationaliser et à prendre des mesures qui ont les
            meilleures chances d'atteindre l’objectif donné.
            <br />
            Les chercheurs et les développeurs dans le domaine font des progrès
            étonnamment rapides dans l'imitation d'activités telles que
            l'apprentissage, le raisonnement et la perception, dans la mesure où
            celles-ci peuvent être concrètement définies.
            <br />
            Un sous-ensemble de l'intelligence artificielle est l'apprentissage
            automatique( machine learning), qui fait référence au concept selon
            lequel les programmes informatiques peuvent automatiquement
            apprendre et s'adapter à de nouvelles données sans être assisté par
            des humains.
            <br />
            Les techniques d'apprentissage en profondeur ( deep learning)
            permettent cet apprentissage automatique grâce à l'absorption
            d'énormes quantités de données non structurées telles que du texte,
            images ou vidéo.
            <br />
            Certains pensent que les innovateurs pourraient bientôt être en
            mesure de développer des systèmes qui dépassent la capacité des
            humains à apprendre ou à raisonner sur n'importe quel sujet. Mais
            d'autres restent sceptiques car toute activité cognitive est mêlée à
            des jugements de valeur soumis à l'expérience humaine. <br />
            <br />
          </p>
        </div>
        <br />

        <a href="/AI" class="Types_btn">En savoir plus</a>
        <br />
        <br />
        <br />
      </section>
    </section>

    <hr />

    <!--section wrap_type qui contient la section Types +  les card qui contiennent chacune un Type Ai-->
    <section class="wrap_type">
      <br />
      <!--Section Types contient le titre + texte-->
      <section class="Types">
        <h1>Les Types d'AI</h1>
        <p>
          aujourd'hui on a theoriquement 4 types d'intelligences artificielles :
        </p>

        <!-- div Types_grid qui envloppe tout les types 
            div row est la pour gerer  la disposition des types 
            dic Types_col est la pour specifier chaque type         
        -->
        <div class="Types_grid">
          <div class="row">
            <div class="Type_col">
              <h3>reactive</h3>
              <p>
                L'intelligence artificielle la plus basique est l'IA réactive,
                qui est programmée pour fournir une sortie prévisible en
                fonction de l'entrée qu'elle reçoit.
              </p>
            </div>

            <div class="Type_col">
              <h3>limited memory</h3>
              <p>
                L'intelligence artificielle apprend du passé et construit des
                connaissances expérientielles en observant des actions ou des
                données. Ce type d'IA utilise des données d'observation
                historiques en combinaison avec des informations préprogrammées
                pour faire des prédictions et effectuer des tâches de
                classification complexes. C'est le type d'IA le plus utilisé
                aujourd'hui.
              </p>
            </div>
            <div class="Type_col">
              <h3>theory of mind</h3>
              <p>
                Un type qui Theorique seulement , avec ce type d'IA, les
                machines acquerront de véritables capacités de prise de décision
                similaires à celles des humains. Les machines dotées de la
                théorie de l'esprit AI seront capables de comprendre et de
                mémoriser les émotions, puis d'ajuster le comportement en
                fonction de ces émotions lorsqu'elles interagissent avec les
                gen.
              </p>
            </div>
            <div class="Type_col">
              <h3>self-aware</h3>
              <p>
                Un autre type theorique les machines dotées de ce type d'IA
                seront conscientes de leurs émotions internes et de leurs états
                mentaux. Ils pourront faire des inférences (telles que "Je me
                sens heureux car j'ai eu une bonne note") qui ne sont pas
                possibles avec d'autres types d'IA.
              </p>
            </div>
          </div>

          <a href="/Types" class="Types_btn"
            >En savoir plus sur les types</a
          >
          <br />
          <br />

          <br />
        </div>
      </section>
    </section>

    <!--Categories-->

    <hr />
    <!-- section categrie qui contient titre + texte et un div du meme principe que Types-->
    <section class="Categorie">
      <h1>Categorie d'IA</h1>
      <p>
        Maintenant qu'on a vu les Types on peut les diviser en 2 categories :
        <b>weak</b> et <b>strong</b>
      </p>

      <div class="Types_grid">
        <div class="cat_row">
          <a href="/Types" class="cat_col">
            <h3>Weak</h3>
            <p>Qui est l'IA reactive</p>
          </a>
          <a href="/Types" class="cat_col">
            <h3>Strong</h3>
            <p>Qui est l'IA limited memory</p>
          </a>
        </div>
      </div>
    </section>

    <!--Fields-->

    <hr />
    <!--Fields meme principe que Categorie mais avec plusieurs lignes -->
    <section class="fields">
      <h1>Quelques applications de L'IA</h1>
      <p>L'IA est appliqué dans quasiment tout les domaines parmis elles:</p>

      <div class="fields_grid">
        <div class="row">
          <div class="fields_col F1">
            <h3>Les chatBots et assistants virtuels</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F2">
            <h3>L'agriculture</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F3">
            <h3>Vols autonome</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F4">
            <h3>La mode , le buisness et le retail</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
        </div>

        <div class="row">
          <div class="fields_col F5">
            <h3>La securité</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F6">
            <h3>Le sport</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F7">
            <h3>Production et manufacture</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F8">
            <h3>Live Stock et inventaires</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
        </div>

        <div class="row">
          <div class="fields_col F9">
            <h3>Voitures autonome</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F10">
            <h3>Medecine et analyses mecicales</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
          <div class="fields_col F11">
            <h3>Warehousing et la logistique</h3>
            <a href="/researchs" class="fields_btn">Voir les recheres</a>
          </div>
        </div>
      </div>
    </section>

    <!--footer contient des information a propos de nous
        composé de h4+texte et un div  avec les icons et un deernier texte
    -->

    <footer>
      <h4>About us</h4>
      <p>Etudiants universitaires USTHB acad B</p>
      <div class="icon">
        <a href="https://www.facebook.com/Chrf.Mounir/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/redha_wassim" target="_blank">
          <i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/chrf_mounir/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/redha-wasssim-756023237/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </div>
      <p>made by Brahimi redha wassim et Charef mounir</p>
    </footer>
  </body>
</html>
