<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/stylerecherches.css') }}" />
    <title>Recherches</title>
  </head>
  <body>
    <!--meme header que les autres pages -->
    <header>
      <nav class="horizontal">
        <a href="/"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" /></a>
        <div class="nav_links_horizontal">
          <ul>
            <li><a href="{{ url_for('hello_world') }}">Accueil</a></li>
            <li><a href="{{ url_for('mainpage') }}">Description</a></li>
            <li><a href="{{ url_for('types') }}">Types</a></li>
            <li><a href="{{ url_for('log') }}">Recherches</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!--
      container qui contient tout les div de classe articles 
    -->
    <div class="container">
      <h1 class="Titre">
        Quelques articles de recherche d'intelligence artificielle
      </h1>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>
          Hybrid approach using fuzzy sets and extreme learning machine for
          classifying clinical datasets
        </h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Article</p>
          </div>
          <span>9 January 2016</span>
          <span>Anna University</span>
        </div>
        <br />
        <span
          >Kindie Biredagn Nahato &nbsp;&nbsp; Khanna H. Nehemiah &nbsp;&nbsp;
          A. Kannan</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a
            href="{{ url_for('static',filename='articles/Hybrid_Approach_using_Fuzzy_Sets_and_Extreme_Learn.pdf') }}"
            target="_blank"
            class="link_article"
          >
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Data mining techniques play a major role in developing computer
              aided diagnosis systems and expert systems that will aid a
              physician in clinical decision making. In this work, a classifier
              that combines the relative merits of fuzzy sets and extreme
              learning machine (FELM) for clinical datasets is proposed.
            </p>
          </h4>
        </div>
      </div>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>Nom detaillé article</h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Type</p>
          </div>
          <span>X novembre XXXX</span>
          <span>Université houari boumediene</span>
        </div>
        <br />
        <span
          >BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM &nbsp;&nbsp;
          BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a href="{{ url_for('static',filename='articles/ICT_Express_diabetes.pdf" class="link_article') }}" class="link_article">
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi voluptatem expedita atque minus dolores a impedit beatae
              quibusdam, cumque ea ratione necessitatibus adipisci, quam
              architecto, repudiandae eaque autem harum possimus.
            </p>
          </h4>
        </div>
      </div>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>Nom detaillé article</h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Type</p>
          </div>
          <span>X novembre XXXX</span>
          <span>Université houari boumediene</span>
        </div>
        <br />
        <span
          >BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM &nbsp;&nbsp;
          BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a href="{{ url_for('static',filename='articles/ICT_Express_diabetes.pdf" class="link_article') }}" class="link_article">
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi voluptatem expedita atque minus dolores a impedit beatae
              quibusdam, cumque ea ratione necessitatibus adipisci, quam
              architecto, repudiandae eaque autem harum possimus.
            </p>
          </h4>
        </div>
      </div>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>Nom detaillé article</h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Type</p>
          </div>
          <span>X novembre XXXX</span>
          <span>Université houari boumediene</span>
        </div>
        <br />
        <span
          >BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM &nbsp;&nbsp;
          BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a href="{{ url_for('static',filename='articles/ICT_Express_diabetes.pdf" class="link_article') }}" class="link_article">
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi voluptatem expedita atque minus dolores a impedit beatae
              quibusdam, cumque ea ratione necessitatibus adipisci, quam
              architecto, repudiandae eaque autem harum possimus.
            </p>
          </h4>
        </div>
      </div>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>Nom detaillé article</h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Type</p>
          </div>
          <span>X novembre XXXX</span>
          <span>Université houari boumediene</span>
        </div>
        <br />
        <span
          >BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM &nbsp;&nbsp;
          BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a href="{{ url_for('static',filename='articles/ICT_Express_diabetes.pdf" class="link_article') }}" class="link_article">
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi voluptatem expedita atque minus dolores a impedit beatae
              quibusdam, cumque ea ratione necessitatibus adipisci, quam
              architecto, repudiandae eaque autem harum possimus.
            </p>
          </h4>
        </div>
      </div>

      <div class="articles">
        <h4>BRAHIMI REDHA WASSIM</h4>
        <br />
        <h3>Nom detaillé article</h3>
        <br />
        <div class="informations_article">
          <div class="span_type">
            <p>Type</p>
          </div>
          <span>X novembre XXXX</span>
          <span>Université houari boumediene</span>
        </div>
        <br />
        <span
          >BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM &nbsp;&nbsp;
          BRAHIMI REDHA WASSIM &nbsp;&nbsp; BRAHIMI REDHA WASSIM</span
        >
        <br />
        <br />
        <br />
        <div class="link_int">
          <a href="{{ url_for('static',filename='articles/ICT_Express_diabetes.pdf" class="link_article') }}" class="link_article">
            voir article
          </a>

          <div>
            <ul>
              <li><a href="">follow</a></li>
              <li><a href="">recommend</a></li>
              <li><a href="">share</a></li>
            </ul>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <div>
          <h4>
            Titre Description:
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi voluptatem expedita atque minus dolores a impedit beatae
              quibusdam, cumque ea ratione necessitatibus adipisci, quam
              architecto, repudiandae eaque autem harum possimus.
            </p>
          </h4>
        </div>
      </div>
    </div>

    <!--meme footer -->

    <footer>
      <h4>About us</h4>
      <p>Etudiants universitaires USTHB acad B</p>
      <div class="icon">
        <a href="https://www.facebook.com/Chrf.Mounir/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/redha_wassim" target="_blank">
          <i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/chrf_mounir/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/redha-wasssim-756023237/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </div>
      <p>made by Brahimi redha wassim et Charef mounir</p>
    </footer>
  </body>
</html>
