{% extends 'base.html' %}
{% block title %}Signup Page {% endblock %}
{% block content %}
<div class="container" style="text-align: left; margin-top: 0%">
      <div style="margin-left: 30%">
        <h1> Sign in page </h1>
        <br />
        <br />
      </div>

      <div>
         <form method="POST" class="form-register" style="color:whitesmoke">
            {{ form.hidden_tag() }}
             {{ form.user.label() }}
             {{ form.user(placeholder=' Username',autofocus=True) }}
             <br>
             <br>
             {{ form.email.label() }}
             {{ form.email(placeholder=' Email') }}
                <br>
                <br>
             {{ form.password.label() }}
             {{ form.password(placeholder=' Give password') }}
                <br>
                <br>
             {{ form.password_confirmation.label() }}
             {{ form.password_confirmation(placeholder=' Confirm password') }}
             <br>
             <br>
             {{ form.submit() }}
         </form>
      </div>
        {% with messages = get_flashed_messages(with_categories=True)  %}
            {% if messages %}
                {% for category,message in messages if not category=='info' %}
                    <p style="color: {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>
{% endblock %}