<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styleTypes.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Types d'AI</title>
  </head>

  <body>
    <!--Meme header que indexe ( page d'accueil)-->
    <header>
      <nav>
        <a href="/"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" /></a>
        <div class="nav_links">
          <ul>
            <li><a href="{{ url_for('hello_world') }}">Accueil</a></li>
            <li><a href="{{ url_for('mainpage') }}">Description</a></li>
            <li><a href="{{ url_for('types') }}">Types</a></li>
            <li><a href="{{ url_for('log') }}">Recherches</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!--structure : un gros div qui contients plusieurs div et chacun d'eux contient un type-->

    <!--div qui contient tout -->
    <div class="container">
      <!--contient juste le titre principale-->
      <div class="content">
          <h1 class="Titre bordtitle">Les 4 Types d'IA</h1>
      </div>

      <!--contient le premier type -->
      <div class="Reactive_machines content borders" id="reactive">
        <h2>1-Reactive</h2>

        <p>
          <br />
          <br />
          Une machine réactive suit les principes les plus élémentaires de l'IA
          et, comme son nom l'indique, est capable d'utiliser uniquement son
          intelligence pour percevoir et réagir au monde qui se trouve devant
          elle. Une machine réactive ne peut pas stocker de mémoire et, par
          conséquent, ne peut pas s'appuyer sur les expériences passées pour
          éclairer la prise de décision en temps réel.
          <br />
          <br />
          Percevoir le monde directement signifie que les machines réactives
          sont conçues pour accomplir seulement un nombre limité de tâches
          spécialisées. Réduire intentionnellement la vision du monde d'une
          machine réactive n'est cependant pas une sorte de mesure de réduction
          des coûts, et signifie plutôt que ce type d'IA sera plus fiable et
          digne de confiance - il réagira de la même manière aux mêmes stimuli à
          chaque fois.
          <br />
          <br />
          Un exemple célèbre de machine réactive est Deep Blue, qui a été conçu
          par IBM dans les années 1990 comme un superordinateur jouant aux
          échecs et a vaincu le grand maître international Gary Kasparov dans
          une partie. Deep Blue n'était capable que d'identifier les pièces sur
          un échiquier et de savoir comment chacune se déplaçait en fonction des
          règles des échecs, de reconnaître la position actuelle de chaque pièce
          et de déterminer quel serait le mouvement le plus logique à ce
          moment-là. L'ordinateur ne poursuivait pas les futurs mouvements
          potentiels de son adversaire ou n'essayait pas de placer ses propres
          pièces dans une meilleure position. Chaque virage était considéré
          comme sa propre réalité, distinct de tout autre mouvement effectué
          auparavant.
          <br />
          <br />
          Bien que limitée dans sa portée et difficile à modifier,
          l'intelligence artificielle réactive des machines peut atteindre un
          niveau de complexité et offre une fiabilité lorsqu'elle est créée pour
          accomplir des tâches répétables.
        </p>
        <br />
      </div>

      <!--deuxiemme type -->

      <div class="Reactive_machines content borders">
        <h2>2-Theory of Mind</h2>

        <p>
          <br />
          <br />
          La théorie de l'esprit n'est que cela - théorique. Nous n'avons pas
          encore atteint les capacités technologiques et scientifiques
          nécessaires pour atteindre ce prochain niveau d'intelligence
          artificielle.
          <br />
          <br />
          Le concept est basé sur la prémisse psychologique de comprendre que
          les autres êtres vivants ont des pensées et des émotions qui affectent
          le comportement de soi-même.
          <br />
          <br />

          En termes de machines d'IA, cela signifierait que l'IA pourrait
          comprendre comment les humains, les animaux et les autres machines se
          sentent et prennent des décisions grâce à l'auto-réflexion et à la
          détermination, puis utilisera ces informations pour prendre ses
          propres décisions.
          <br />
          <br />
          Essentiellement, les machines devraient être capables de saisir et de
          traiter le concept d '«esprit», les fluctuations des émotions dans la
          prise de décision et une litanie d'autres concepts psychologiques en
          temps réel, créant une relation à double sens entre les gens et
          l'intelligence artificielle.
          <br />
        </p>
      </div>

      <!--troisiemme type -->
      <div class="Reactive_machines content borders" id="limited">
        <h2>3-limited memory</h2>

        <p>
          <br />
          <br />
          L'intelligence artificielle à mémoire limitée a la capacité de stocker
          des données et des prédictions antérieures lors de la collecte
          d'informations et de la pesée de décisions potentielles -
          essentiellement en regardant dans le passé pour trouver des indices
          sur ce qui pourrait suivre. L'intelligence artificielle à mémoire
          limitée est plus complexe et présente de plus grandes possibilités que
          les machines réactives.
          <br />
          <br />
          Une IA à mémoire limitée est créée lorsqu'une équipe forme en continu
          un modèle sur la façon d'analyser et d'utiliser de nouvelles données
          ou qu'un environnement d'IA est créé afin que les modèles puissent
          être automatiquement formés et renouvelés. Lors de l'utilisation de
          l'IA à mémoire limitée dans l'apprentissage automatique, six étapes
          doivent être suivies : les données d'entraînement doivent être créées,
          le modèle d'apprentissage automatique doit être créé, le modèle doit
          être capable de faire des prédictions, le modèle doit être capable de
          recevoir des commentaires humains ou environnementaux, cette
          rétroaction doit être stockée sous forme de données, et ces étapes
          doivent être réitérées sous forme de cycle. <br />
          <br />
          Il existe trois principaux modèles d'apprentissage automatique qui
          utilisent l'intelligence artificielle à mémoire limitée :
          <br />
          <br />
        </p>

        <ol class="ol_limited">
          <li>
            <h3>Reinforcement learning</h3>
            <br />
          </li>
          <li>
            <h3>Long Short Term Memory (LSTM)</h3>
            <br />
          </li>
          <li>
            <h3>Evolutionary Generative Adversarial Networks (E-GAN)</h3>
          </li>
        </ol>
      </div>

      <!--quatriemme type -->
      <div class="Reactive_machines content borders">
        <h2>4-Self-awareness</h2>
        <p>
          <br />
          <br />

          Ce type , est un Type theorique qui n'existe pas pour l'instant ,une
          fois que la théorie de l'esprit pourra être établie dans
          l'intelligence artificielle, dans un avenir lointain, la dernière
          étape consistera pour l'IA à devenir consciente d'elle-même.
          <br />
          <br />

          Ce type d'intelligence artificielle possède une conscience de niveau
          humain et comprend sa propre existence dans le monde, ainsi que la
          présence et l'état émotionnel des autres. Il serait capable de
          comprendre ce dont les autres pourraient avoir besoin en se basant non
          seulement sur ce qu'ils leur communiquent, mais aussi sur la façon
          dont ils le communiquent.
          <br />
          <br />
          Le Self-awareness dans l'intelligence artificielle repose à la fois
          sur le fait que les chercheurs humains comprennent le principe de la
          conscience et apprennent ensuite à le reproduire afin qu'il puisse
          être intégré dans des machines. <br />
          <br />
          <br />
        </p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--footer le meme que indexe -->
    <footer>
      <h4>About us</h4>
      <p>Etudiants universitaires USTHB acad B</p>
      <div class="icon">
        <a href="https://www.facebook.com/Chrf.Mounir/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/redha_wassim" target="_blank">
          <i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/chrf_mounir/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/redha-wasssim-756023237/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </div>
      <p>made by Brahimi redha wassim et Charef mounir</p>
    </footer>
  </body>
</html>
